*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fcfcfc;/*#f4f4f4;*/
    background-image: url("https://plus.unsplash.com/premium_photo-1668898899024-02f028349666?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bWVkaWNhbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 20%;
}

.login-container {
    
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    background-color: white;
    height: 400px;
    width: 450px;
    border-radius: 8px;
    box-shadow: 0 20px 30px gray;
    padding: 20px;

}

h2 {
    text-align: center;
    margin: 10px 0px 25px;
    font-size: 32px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: rgba(20, 22, 26, 0.838);
}
    
.form-group {
    margin: 30px 0px;
    height: auto;
}


label {
    display: block;
    margin: 10px 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;

}

input {
    width: 445px;
    display: block;
    margin: 10px 20px 30px 0;
    height: 35px;
    padding-left: 3px;
    font-size: 18px;
    border-radius: 4px;
    border: 2px solid #ccc;
    
    
}

button {
    margin-top: 30px;
    width: 100%;
    padding: 12px 10px;
    font-size: 20px;
    background-color: #347ae0;/*#4CAF50;*/
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

.meni{
    width: 100%;
    height: 55px;
    background-color: #fcfcfc;
    position: fixed;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
} 

.meni ul {
    padding: 0 7%;
    float: right;
}

.meni ul li {
    list-style: none;
    display: inline-block;
    line-height: 50px;
}

.meni ul li a{
    text-decoration: none;
    font-weight: bold;
    padding: 0 20px;
    display: block;
    font-size: 20px;
    color: #347ae0;/*#909599;/*#1f64db;*/
    
}

.meni ul li a:hover{
    color: #1f64db;
    background-color: #b0b8bf; 

}
  